.play-move,
.play-enter-active,
.play-leave-active {
  transition: transform 0.5s ease;
}

.play-enter-from,
.play-leave-to {
  transform: translateY(50%);
}

.play-leave-active {
  position: absolute;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.fade-enter-to {
  transform: translateY(0);
  opacity: 1;
}
.fade-leave-active {
  position: absolute;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s ease;
  transition: transform 0.2s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}
.slide-x-enter-active {
  transition: transform 0.4s ease;
  z-index: -1;
}
.slide-x-leave-active {
  transition: transform 0.4s ease;
  z-index: 999;
}

.slide-x-enter-from {
  transform: translateX(100%);
}
.slide-x-leave-to {
  transform: translateX(-100%);
}

.slide-docent-move,
.slide-docent-enter-active,
.slide-docent-leave-active {
  transition: transform 0.5s ease;
}

.slide-docent-enter-from,
.slide-docent-leave-to {
  transform: translateY(50%);
}

.slide-docent-leave-active {
  position: absolute;
  opacity: 0;
}

@keyframes ping-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
